.car {
    background: #fafafa;
}

.keyLayout1 {
    min-height: 4rem;
    min-width: 4rem;
    height: 4rem;
    width: 4rem;
    text-align: center;
}

.keyLayout2 {
    min-height: 4rem;
    min-width: 7rem;
    height: 4rem;
    width: 7rem;
}

.keyLayout3 {
    min-height: 4rem;
    min-width: 7.8rem;
    height: 4rem;
    width: 7.8rem;
}

.keyLayout4 {
    min-height: 4rem;
    min-width: 10rem;
    height: 4rem;
    width: 10rem;
}

.keyboard {
    min-width: 66rem;
    min-height: 23rem;
    height: 23rem;
    width: 66rem;
    /* background: #111; */
}

span {
    font-family: sans-serif;
    font-weight: 700;
}

.input {
    min-width: 66rem;
    width: 66rem;
}

.btn {
    cursor: pointer;
}

.secondaryKeyStyle {
    font-family: sans-serif;
    font-weight: 700;
    float: left;
}

.primaryKeyStyle {
    font-family: sans-serif;
    font-weight: 700;
    padding-top: 1.25rem;
}

.d-grid {
    display: grid;
}

.btn:hover {
    background: #ffffff88;
    color: #fff;
}

.selected {
    background: #797979;
    color: #fff;
}

.not-selected {
    background: #fff;
    color: #111;
}

.vk-container {
    min-width: 68rem;
    width: 68rem;
    background: #2f2c2c;
    border-radius: 0.8rem;
}